* {
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /*关闭字体大小自动调整*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 1.6rem;
}
html,
body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
.btn {
  height: 4rem;
  line-height: 4rem;
  display: block;
  text-align: center;
}
